@tailwind base;
@tailwind components;
@tailwind utilities;

input:checked ~ .dot {
  transform: translateX(100%);
  background-color: #2df760;
}

.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4,end) 1000ms infinite;      
  animation: ellipsis steps(4,end) 1000ms infinite;
  content: "\2026";
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 20px;    
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 20px;    
  }
}
